In [21]:
# Data Imports
import numpy as np
import pandas as pd


# Math
import math

# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# Machine Learning Imports
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# For evaluating our ML results
from sklearn import metrics

# Dataset Import
import statsmodels.api as sm

In [22]:
# Reading csv files
women = pd.read_csv('athletes-women.csv')
men = pd.read_csv('athletes-men.csv')
all_ath = pd.read_csv('athletes-all.csv', sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
#ensure IDs are int
women['athlete_id']=women['athlete_id'].astype(int)
men['athlete_id']=men['athlete_id'].astype(int)
all_ath['athlete_id']=women['athlete_id'].astype(int)
#drop nas
all_ath = all_ath[all_ath['name'].notna()]
#drop columns 
all_ath.drop(columns=['team', 'region','affiliate','gender','helen','grace','filthy50','fgonebad','eat','background'])
#Left join to get all rows in all_ath that are not in women
df_all = all_ath.merge(women.drop_duplicates(), on=['athlete_id'], how='left', indicator=True)
df_all.head()

,athlete_id,name_x,region_x,team,affiliate,gender,age_x,height_x,weight_x,fran_x,...,candj_y,snatch_y,deadlift_y,backsq_y,pullups_y,coach,certification,multiple,howlong_y,_merge
0,119227.0,Pj Ablang,South West,Double Edge,Double Edge CrossFit,Male,24,70,166,NaN,...,200.0,150.0,345.0,280.0,45.0,1.0,0.0,1.0,3.0,both
1,7716.0,Derek Abdella,NaN,NaN,NaN,Male,42,70,190,NaN,...,230.0,190.0,300.0,310.0,80.0,1.0,1.0,1.0,3.0,both
2,51985.0,Abo Brandon,Southern California,LAX CrossFit,LAX CrossFit,Male,40,67,NaN,211,...,216.0,187.0,309.0,254.0,70.0,1.0,0.0,1.0,3.0,both
3,385450.0,Bryce Abbey,NaN,NaN,NaN,Male,32,65,149,206,...,215.0,190.0,315.0,275.0,55.0,0.0,0.0,1.0,3.0,both
4,16173.0,Jason Abney,NaN,NaN,NaN,Male,37,73,230,NaN,...,205.0,157.0,364.0,276.0,69.0,1.0,1.0,1.0,3.0,both