In [156]:
# Data Imports
import numpy as np
import pandas as pd


# Math
import math

# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# Machine Learning Imports
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# For evaluating our ML results
from sklearn import metrics

# Dataset Import
import statsmodels.api as sm

In [157]:
# Reading csv files
women = pd.read_csv('athletes-women.csv')
men = pd.read_csv('athletes-men.csv')
athletes = pd.read_csv('athletes-all.csv')

# athletes who made it into the games
games = pd.concat([women, men])
games = games.drop(columns = ['rank', 'latitude', 'longitude', 'name', 'region'])
games.head()

/Users/allisontao/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,athlete_id,age,height,weight,run400,run5k,fran,candj,snatch,deadlift,backsq,pullups,coach,certification,multiple,howlong
0,119227,34,66,152,67,1204,53,200,150,345,280,45,1,0,1,3
1,7716,26,62,130,80,1180,124,230,190,300,310,80,1,1,1,3
2,21024,31,68,134,58,1110,125,195,155,305,295,40,0,1,0,3
3,51985,21,67,152,67,1194,128,216,187,309,254,70,1,0,1,3
4,385450,34,67,150,69,1263,128,215,190,315,275,55,0,0,1,3

In [158]:
df = athletes.merge(games.drop_duplicates(), on=['athlete_id'],
                   how='left', indicator=True)

In [159]:
# taking only the columns we want
df_all = df[['athlete_id', 'age_x', 'height_x', 'weight_x', 'fran_x', 'run5k_x', 'pullups_x', '_merge', 'train', 'experience', 'schedule', 'howlong_x', 'run400_x', 'candj_x', 'snatch_x', 'deadlift_x', 'backsq_x']]
df_all = df_all.dropna()

In [160]:
# ones who have not made it who have stats filled out, temp while cleaning up
not_make = res.loc[res['_merge'] == 'left_only']
not_make['howlong_x'] = not_make['howlong_x'].str.slice(0, 6)

col         = 'howlong_x'
conditions  = [ not_make[col].str.contains("Less"), not_make[col].str.contains("6-12"), not_make[col].str.contains("1-2"), not_make[col].str.contains("2-4"), not_make[col].str.contains("4+") ]
choices     = [0,1,2,3,4]
    
not_make["howlong"] = np.select(conditions, choices)

not_make['coach'] = np.where(not_make['train'].str.contains("have a coach"), 1, 0)
not_make['certification'] = np.where(not_make['experience'].str.contains("Level 1"), 1, 0)
not_make['multiple'] = np.where(not_make['schedule'].str.contains("multiple workouts"), 1, 0)

not_make.head()

<ipython-input-160-656d3a76583a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_make['howlong_x'] = not_make['howlong_x'].str.slice(0, 6)
<ipython-input-160-656d3a76583a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_make["howlong"] = np.select(conditions, choices)
<ipython-input-160-656d3a76583a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_make['coach'] = np.where(not_make['train'].str.contains("have a coach"), 1, 0)
<ipython-input-160-656d3a76583a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_make['certification'] = np.where(not_make['experience'].str.contains("Level 1"), 1, 0)
<ipython-input-160-656d3a76583a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_make['multiple'] = np.where(not_make['schedule'].str.contains("multiple workouts"), 1, 0)

,athlete_id,age_x,height_x,weight_x,fran_x,run5k_x,region_x,pullups_x,_merge,train,...,howlong_x,run400_x,candj_x,snatch_x,deadlift_x,backsq_x,howlong,coach,certification,multiple
101,2414.0,44.0,69.0,168.0,175.0,1470.0,South East,34.0,left_only,I workout mostly at a CrossFit Affiliate|,...,4+ yea,85.0,245.0,185.0,435.0,405.0,4,0,0,0
102,2720.0,24.0,68.0,180.0,126.0,1302.0,South Central,80.0,left_only,I workout mostly at a CrossFit Affiliate|I hav...,...,2-4 ye,58.0,315.0,240.0,475.0,405.0,3,1,1,1
110,6922.0,31.0,67.0,150.0,244.0,1268.0,South West,42.0,left_only,I workout mostly at a CrossFit Affiliate|I inc...,...,2-4 ye,63.0,230.0,175.0,410.0,330.0,3,0,1,1
115,12244.0,34.0,69.0,185.0,183.0,1188.0,South Central,51.0,left_only,I workout mostly at a CrossFit Affiliate|I hav...,...,4+ yea,62.0,275.0,215.0,530.0,450.0,4,1,1,1
116,12563.0,37.0,72.0,210.0,162.0,1320.0,Mid Atlantic,49.0,left_only,I workout mostly at a CrossFit Affiliate|I inc...,...,4+ yea,66.0,285.0,205.0,525.0,425.0,4,0,1,1

In [161]:
#not_in_games will contain all athletes that did not make it, with stats, with cleaned up columns
not_in_games = not_make[['athlete_id', 'age_x', 'height_x', 'weight_x', 'fran_x', 'run5k_x', 'pullups_x', 'run400_x', 'candj_x', 'snatch_x', 'deadlift_x', 'backsq_x','howlong','coach','certification','multiple']]
not_in_games.rename(columns={"age_x": "age",'height_x': 'height', 'weight_x':'weight', 'fran_x':'fran', 'run5k_x':'run5k','pullups_x':'pullups', 'run400_x':'run400', 'candj_x':'candj', 'snatch_x':'snatch', 'deadlift_x':'deadlift', 'backsq_x':'backsq'}, inplace = True)

not_in_games.head()

/Users/allisontao/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,athlete_id,age,height,weight,fran,run5k,pullups,run400,candj,snatch,deadlift,backsq,howlong,coach,certification,multiple
101,2414.0,44.0,69.0,168.0,175.0,1470.0,34.0,85.0,245.0,185.0,435.0,405.0,4,0,0,0
102,2720.0,24.0,68.0,180.0,126.0,1302.0,80.0,58.0,315.0,240.0,475.0,405.0,3,1,1,1
110,6922.0,31.0,67.0,150.0,244.0,1268.0,42.0,63.0,230.0,175.0,410.0,330.0,3,0,1,1
115,12244.0,34.0,69.0,185.0,183.0,1188.0,51.0,62.0,275.0,215.0,530.0,450.0,4,1,1,1
116,12563.0,37.0,72.0,210.0,162.0,1320.0,49.0,66.0,285.0,205.0,525.0,425.0,4,0,1,1

In [162]:
games['in_games'] = 1
not_in_games['in_games'] = 0

<ipython-input-162-2a48824d03dd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_in_games['in_games'] = 0

In [163]:
result = not_in_games.append(games)

In [164]:
result

,athlete_id,age,height,weight,fran,run5k,pullups,run400,candj,snatch,deadlift,backsq,howlong,coach,certification,multiple,in_games
101,2414.0,44.0,69.0,168.0,175.0,1470.0,34.0,85.0,245.0,185.0,435.0,405.0,4,0,0,0,0
102,2720.0,24.0,68.0,180.0,126.0,1302.0,80.0,58.0,315.0,240.0,475.0,405.0,3,1,1,1,0
110,6922.0,31.0,67.0,150.0,244.0,1268.0,42.0,63.0,230.0,175.0,410.0,330.0,3,0,1,1,0
115,12244.0,34.0,69.0,185.0,183.0,1188.0,51.0,62.0,275.0,215.0,530.0,450.0,4,1,1,1,0
116,12563.0,37.0,72.0,210.0,162.0,1320.0,49.0,66.0,285.0,205.0,525.0,425.0,4,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,521299.0,51.0,69.0,178.0,203.0,1260.0,55.0,66.0,255.0,165.0,425.0,330.0,2,1,1,1,1
282,47551.0,41.0,70.0,179.0,339.0,1241.0,55.0,68.0,225.0,185.0,345.0,305.0,0,0,1,0,1
283,407586.0,47.0,70.0,217.0,390.0,1806.0,34.0,72.0,315.0,245.0,485.0,420.0,0,1,0,0,1
284,250862.0,54.0,67.0,167.0,188.0,1344.0,55.0,74.0,230.0,170.0,405.0,345.0,0,0,0,0,1
285,585791.0,50.0,67.0,185.0,222.0,1300.0,52.0,65.0,265.0,215.0,455.0,375.0,0,0,0,0,1